@model ClientForm

<h3>Création d'un client</h3>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <p>
            @Html.LabelFor(model => model.Name, "Nom : ")
            @Html.EditorFor(model => model.Name)
        </p>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <p>
            <label for="email">E-mail : </label>
            <input asp-for="Email" id="email" type="email" />
        </p>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <p>
            <label for="password">Mot de passe : </label>
            <input asp-for="Password" id="password" />
        </p>
    </div>
    <div>
        <p>
            <label for="cpass">Confirmer MDP : </label>
            <input asp-for="ConfirmPassword" id="cpass" />
        </p>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>


    <p>
        <button type="submit" class="btn btn-primary">Valider</button>
    </p>

</form>